extends layout
block content
    header.card-header
        h4.card-title Garbage Collector Home Page
    div.form-row 
        p Register here :
            a(href='/register')  Register
    div.form-row
        p Login here : 
            a(href='/login')  Login